### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as sp
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score

### Data Pre-processing

Let us import our dataset using the pandas library and review the first ten rows to get a birds eye view on our data along with any potential null values

In [5]:
data = pd.read_csv('CA01-Dataset.csv')
data.head(10)

,Statistic Label,Year,Full and Part Time Status,Economic Sector NACE Rev 2,UNIT,VALUE
0,Mean earnings per hour,2022,All employment status,All NACE economic sectors,Euro,26.40
1,Mean earnings per hour,2022,All employment status,Construction (F),Euro,22.60
2,Mean earnings per hour,2022,All employment status,Wholesale and retail trade; repair of motor ve...,Euro,20.63
3,Mean earnings per hour,2022,All employment status,Transportation and storage (H),Euro,23.02
4,Mean earnings per hour,2022,All employment status,Accommodation and food service activities (I),Euro,16.38
5,Mean earnings per hour,2022,All employment status,Information and communication (J),Euro,42.44
6,Mean earnings per hour,2022,All employment status,"Professional, scientific and technical activit...",Euro,30.72
7,Mean earnings per hour,2022,All employment status,Administrative and support service activities (N),Euro,21.85
8,Mean earnings per hour,2022,All employment status,Public administration and defence; compulsory ...,Euro,28.32
9,Mean earnings per hour,2022,All employment status,Education (P),Euro,35.91

In [6]:
data.isna().sum()

Statistic Label               0
Year                          0
Full and Part Time Status     0
Economic Sector NACE Rev 2    0
UNIT                          0
VALUE                         0
dtype: int64